.bnt{
          color: $neutral-900;
          padding: 2rem 2.4rem;
          border: 2px solid $neutral-900;
          border-radius: 1rem;
          display: inline-flex;
          gap: 1.6rem;
          align-items: center;
          background-color: $light-salmon-50 ;

}

.btn:hover{
     background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
;

}